.box {
    width: 300px;
    height: 250px;
    border: 25px solid #333;
    padding: 25px;
    margin: 25px;
    margin: 0 auto;
    background-color: lightblue;
}

.form {
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: lightcoral;
}